new_input.npz
preds.npz
KDDTest+_normalized.csv
kddtest_normalized_alpha.csv
kddtest_normalized_alpha.csv.zip
kddtrain_2class_normalized.csv
kddtrain_normalized_alpha.csv
ikddtrain_normalized_alpha.csv.zip
.ipynb_checkpoints/*
data.pyc
